<ion-view>
	<ion-content  class="az-direction-rtl">
		<header icon="ion-person" label="{{'COMMON.ABOUT_US' | translate}}"></header>
        <div>
            <h1 class="about-section">{{'COMMON.About_us' | translate}}</h1>
          </div>
          <h2 style="text-align:center">{{'COMMON.Intro' | translate}}</h2>
          <p class="detail2">{{'COMMON.Detail1' | translate}}</p>

          <h2 style="text-align:center">{{'COMMON.Aim' | translate}}</h2>
          <p class="detail2">{{'COMMON.Detail2' | translate}}</p>
            
            <h2 style="text-align:center">{{'COMMON.Vision' | translate}}</h2>
          <p class="detail2">{{'COMMON.Detail3' | translate}}</p>
         
          </div>
          
	</ion-content>
</ion-view>
