<ion-view>
	<ion-content  class="az-direction-rtl">
		<header icon="ion-clipboard" label="{{'COMMON.CONTACT_US' | translate}}"></header>
	<img src="img/contact.png" class="about-section2">
	<div class="body">
		<p class="subtitle">We're open for any suggestion or just to have a chat</p>
		<br>
		<div class="body2">
		<div class="item-icon-left">
			<div  class="subtitle3">
				<span class="subtitle2">Address:</span> Knowledge Oasis Muscat Al Rusayl
				   </div>
			<i class="icon ion-location"></i>
		  </div>
<!-- <hr color="blue"> -->
		  <br><br>
		  <div class="item-icon-left">
			<div  class="subtitle4">
				<span class="subtitle2">Phone:</span> +968 93229496
				   </div>
			<i class="icon ion-iphone"></i>
		  </div>
<!-- <hr color="blue"> -->
		  <br><br>
		  <div class="item-icon-left">
			<div  class="subtitle4">
				<span class="subtitle2">Email:</span> 18F18157@mec.edu.om
				   </div>
			<i class="icon ion-email"></i>
		  </div>
<!-- <hr color="blue"> -->
		  <br><br>
		  <div class="item-icon-left">
			<div  class="subtitle4">
				<span class="subtitle2">Web:</span> https://mec.edu.om/en
				   </div>
			<i class="icon ion-planet"></i>
		  </div>
<!-- <hr color="blue"> -->
		</div>
		</div>
	</ion-content>
</ion-view>
